mixin actions({ color, title, cajas, icon, btn })
	.col-12#action-box
		div(class="card text-bg-dark")
			//- div(class="card text-bg-"+color)
			.card-body.px-4
				.card-title.text-capitalize.fw-bold= title
				.d-flex.gap-2.mt-3
					each caja in cajas
						div
							input(type=caja.type class="form-control text-bg-light border border-0" placeholder=caja.placeholder name=caja.name id=caja.id)
							label(for="transferto" class="text-capitalize fs-5")= caja.label
						div
					button.btn.btn-light.align-self-baseline(id=btn)
						i(class='bi bi-'+icon+' d-flex')
